body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('path_to_your_image.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none; /* Remove borders */
    border-bottom: 1px solid #000; /* Add a bottom border */
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}